.Listitems{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;    
    border: 1px solid black;
    width: 26%;
    height: 40px;
}
.Listitems:hover{
    background-color:rgb(221, 208, 201);
}